/* Add application styles & imports to this file! */
body {
  margin: 0;
}
.contenedor {
  display: flex;
  flex-wrap: wrap;
}
.contenedor > app-tarjeta {
  /*display: inline-block;*/
  overflow: hidden;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  height: 300px;
  position: relative;
}
.ancho_1 {
  width: calc(100% / 4 - 20px);
}
.ancho_2 {
  width: calc(100% / 4 * 2 - 20px);
}
.ancho_3 {
  width: calc(100% / 4 * 3 - 20px);
}
.ancho_4 {
  width: calc(100% / 4 * 4 - 20px);
}
/*
.alto_1 {
  height: calc(300px - 20px);
}
.alto_2 {
  height: calc(300px * 2 - 20px);
}
.alto_3 {
  height: calc(300px * 3 - 20px);
}
.alto_4 {
  height: calc(300px * 4 - 20px);
}*/
